table {
  width: 512px;
  margin: 0 auto;
}

table td {
  padding: 0.7rem;
}

div.todo_item {
  width: 512px;
  display: flex;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.todo_item:hover {
  background-color: whitesmoke;
}

.todo_delete {
  color: red;
  font-weight: 600;
  opacity: 0;
}

.todo_item:hover .todo_delete {
  opacity: 1;
}

.todo_delete,
.todo_id,
.todo_mark {
  flex: 1;
}
.todo_text {
  flex: 3;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}
