div.login_form {
  margin: 10px auto;
  padding: 20px;
}

div.login_form input {
  width: 60%;
  height: 40px;
  margin: 0 0 8px;
  padding: 5px 39px 5px 11px;
  border: 1px solid #dadada;
}

div.login_form button {
  font-size: 20px;
  font-weight: 700;

  display: block;
  width: 80px;
  margin: 16px auto;

  line-height: 40px;
  height: 40px;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: cadetblue;

  cursor: pointer;
}

/* div.login_div {
  margin: 0.5rem;
}

div.login_div input {
  width: 40%;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid #aaa;
}

div.login_btn button {
  width: 40%;
  border: none;
  padding: 0.3rem;
  background-color: #282c34;
  color: white;
} */
