div.input_box {
  width: 80vw;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 0.7rem;
}

div.input_box label,
div.input_box input {
  display: block;
  margin: 8px auto;
  padding: 5px;
  width: 80%;
}

div.input_box label {
  text-align: left;
  color: blue;
  font-weight: bold;
}

div.input_box button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  margin: 0;
  outline: none;
  border: none;
  padding: 0.8rem;
}
